<br>
<h1>Choosen Lessons:</h1>
	<% @use_lessons.each do |k, v| %>
		<br>
    <%=  k %>&nbsp;&nbsp;&nbsp;
    <%= @quiz_word.size %> words
	<% end %>
<br>
<br>
<br>
<%= link_to 'Home', root_path, {class: 'med_button'}%>
<%= link_to 'Start Quiz', :quiz_init, {class: 'med_button'}%>
<br>
<br>
<br>
<h1>Chosen Words:</h1>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Word</th>
      <th>Lesson</th>
      <th>New</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <%- k = 0 %>
    <% @quiz_word.each do |d| %>
      <%- k = k + 1 %>
      <tr>
        <td><%= k %>)</td>
        <td><%= d.word %></td>
        <td><%= d.lesson %></td>
        <td><%= d.new_flag.to_s %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
