
<br>
<br>
<br>
	<h2>Total words: <%= @word_count.to_s %></h2>
	<h2>Completed Time: <%= @elapsed_time %> secs</h2>
	<h1><font color="lime">Number correct: <%= @correct_count.to_s %></font></h1>
	<h1><font color="red">Number missed: <%= @miss_count %></font></h1>
	<br>
<table>
  <thead>
    <tr>
      <th colspan="1"></th>
    </tr>
  </thead>
</table>
<br>

<br>
<br>
<br>
<br>
<font size="72"><%= link_to "Finished!", root_path %></font>
<br>
<br>

<br>
<br>
<p> <%= Time.now %>
