<p id="notice"><%= notice %></p>

<p>
  <strong>Word:</strong>
  <%= @vocab_word.word %>
</p>

<p>
  <strong>Lesson:</strong>
  <%= @vocab_word.lesson %>
</p>

<%= link_to 'Add Word', new_vocab_word_path %> |
<%= link_to 'Edit Word', edit_vocab_word_path(@vocab_word) %> |
<%= link_to 'Back', vocab_words_path %> |
<%= link_to 'Next', vocab_words_next_path %>

