<h1>views/vocab_words/unique_lessons.html.erb</h1>
<br>
<br>
<%= form_tag(choose_lesson_path, method: "get") do %>
	<% @lesson_list.each do |d| %>
		<br>
    <%= check_box_tag "checkbox[#{d}]", d %>
    <%= label_tag "checkbox[#{d}]", d %>
	<% end %>
	<br>
	<br>
<%= link_to 'Back To Top', root_path %> | 
	<%= submit_tag("Submit", class: 'button') %>
<% end %>
<br>
<br>
<br>
<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
  <%= submit_tag("Search") %>
<% end %>

<%= check_box_tag(:pet_dog) %>
<%= label_tag(:pet_dog, "I own a dog") %>
<%= check_box_tag(:pet_cat) %>
<%= label_tag(:pet_cat, "I own a cat") %>

