<h1>views/vocab_words/unique_lessons.html.erb</h1>
<br>
<br>

<%= form_tag(choose_lesson_path, method: "get") do %>
  <% @lesson_list.each do |d| %>
    <br>
    <%= check_box_tag "checkbox[#{d}]", d %>
    <%= label_tag "checkbox[#{d}]", d %>
  <% end %>
  <br>
  <br>
  <%= link_to 'Back', root_path, {class: 'med_button'} %> 
  <%= link_to 'New', choose_lesson_path, {class: 'med_button'} %> 
  <div class='med_button'>
  <%= submit_tag("Button", class: 'submit_button') %>
  </div>
  <% end %>

