<h1>views/vocab_words/unique_lessons.html.erb</h1>
<br>
<br>

<%= form_tag(choose_lesson_path, method: "get") do %>
  <div font-size:36pt>
  <% @lesson_list.each do |d| %>
    <br>
    <%= check_box_tag "checkbox[#{d}]", d %>
    <%= label_tag "checkbox[#{d}]", d %>
  <% end %>
  </div>
  <br>
  <br>
  <%= link_to 'Back', vocab_words_path, {class: 'med_button'} %> 
  <div class='med_button'>
  <%= submit_tag("Submit", class: 'submit_button') %>
  </div>
  <% end %>

