
<script type="text/javascript", src="javascript/button.js"></script>
%p in views/welcome/index.html.erb

%p= link_to 'Word Quiz', :unique_lesson, {class: 'button'}
%p= link_to 'Add Words', new_vocab_word_path, {class: "button"}

%p= link_to 'Word List', vocab_words_path, {class: 'button'}
%p= link_to 'Say Examples', say_hello_path, {class: 'button'}
%p= link_to 'Click Me', :unique_lesson, {class: "button"}
%p= link_to 'Next', :next_word, {class: 'blue'}

