

<h1>in views/welcome/index.html.erb</h1>
<body>
<p><%= link_to 'Say Examples', say_hello_path %></p>
<p><%= link_to 'Add New Words', new_vocab_word_path %></p>
<p><%= link_to 'Show Word List', vocab_words_path %></p>
<p><%= link_to 'Word Quiz', vocab_words_next_path %></p>
<p><%= link_to 'Choose Lesson', vocab_words_unique_lessons_path %></p>
</body>
