
%p in views/welcome/index.html.erb
%div#whole_page
	%div#nav_column
		%a= link_to 'Say Examples', say_hello_path, {class: 'nav_button'}
		%a= link_to 'Unique Lesson', unique_lesson_path, {class: 'nav_button'}
		%a= link_to 'Next', :next_word, {class: 'sml_button'}
		%a= link_to 'Next', :next_word, {class: 'sml_button'}
	%section#body_column
		%a= link_to 'Word Quiz', :unique_lesson, {class: 'big_button'}
		%br
		%br
		%a= link_to 'Add Words', new_vocab_word_path, {class: 'med_button'}
		%a= link_to 'Word List', vocab_words_path, {class: 'med_button'}
		%a= link_to 'Empty', "#", {class: 'button'}
		%br

<a href="tel:+447712442633">Call me</a>
%a= link_to 'Call me', "tel:+447712442633"

