
<script type="text/javascript", src="javascript/button.js"></script>
<h1>in views/welcome/index.html.erb</h1>
<h1>This is a(nother) deployment test</h1>
<body>
<p><%= link_to 'Say Examples', say_hello_path %></p>
<p><%= link_to 'Add New Words', new_vocab_word_path %></p>
<p><%= link_to 'Show Word List', vocab_words_path %></p>
<a id="word-quiz-link" href="/unique_lesson">Word Quiz</a>
<div id="word-quiz-link"><%= link_to 'Word Quiz', :unique_lesson %></div>
<a class="button"><%= link_to 'Click Me', :unique_lesson %></a>
<p class="blue"><%= link_to 'Next', :next_word %></p>
</body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69543646-1', 'auto');
  ga('send', 'pageview');

</script>
